<meta charset="utf-8">
<title>cgilVueAutoComplete demo</title>
<script src="https://unpkg.com/vue"></script>
<script src="../dist/cgilVueAutoComplete.umd.js"></script>

<link rel="stylesheet" href="../dist/cgilVueAutoComplete.css">


<div id="app">
  <demo placeholder="choix du pays"
        :ajax-data-source="geoCountryUrl"
        :is-ajax-data-source-with-filter="false"
        id-field-name="id"
        v-model="pays"
  />
  <template v-if="pays !== null">
    <p>Vous avez choisi le pays {{pays}}</p>
  </template>
</div>

<script>
  new Vue({
    components: {
      demo: cgilVueAutoComplete
    },
    data: () => ({
      adresse: null,
      pays: null,
      geoCountryUrl: 'https://go.trouvl.info/api/geo/pays',
    }),
  }).$mount('#app')
</script>
